body {
    margin: 0;
    padding: 0;
}


header, footer {
    position: relative;
    text-align: center;
    margin: 0 auto;
}


header::before, header::after, footer::before, footer::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header::before, footer::before  {
    background-color: #0a0e34;
    z-index: 1;
}


header::after, footer::after {
    opacity: 0.1;
    z-index: 2;
}

@media (min-width: 1281px) {

    header::after {
        background-image: url(images/football_1920.jpg);
    }

    footer::after {
        background-image: url(images/game_1920.jpg);
    }

}

@media (min-width: 768px) and (max-width: 1280px) {

    header::after {
        background-image: url(images/football_1280.jpg);
    }

    footer::after {
        background-image: url(images/game_1280.jpg);
    }

}


@media (max-width: 767px) {

    header::after {
        background-image: url(images/football_767.jpg);
    }

    footer::after {
        background-image: url(images/game_767.jpg);
    }

}


.logo {
    position: relative;
    fill: #ffffff;
    z-index: 3;
}


h1 {
    position: relative;
    text-align: left;
    color: #ffffff;
    z-index: 3;
}


.block_button {
    display: flex;
    justify-content: center;
}


.app_store, .google_play {
    display: flex;
    align-items: center;
    width: 311px;
    height: 77px;
    background: #5e42b0;
    border: none;
    border-radius: 50px;
    font: 300 14px/1 opensans, sans-serif;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    z-index: 3;
}

.app_icon, .google_icon {
    fill: #ffffff;
}


.bold_name {
    font-weight: bold;
    margin-top: 5px;
}


.person {
    position: relative;
    width: 100%;
    height: auto;
}


.paragraph_one, .paragraph_four {
    background-color: #ffffff;
}


.paragraph_two, .paragraph_five {
    background-color: #f6f4fa;
}


.paragraph_free, .box_card {
    background-color: #5e42b0;
}


.paragraph_six {
    background-color: #0a0e34;
}



h2 {
    color: #e7e7e7;
    margin: 0 0;
}


h3 {
    position: relative;
    color: #c1c1c1;
}


h3::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "01";
    color: #000000;
}


h3::after {
    display: block;
    position: absolute;
    content: "";
    background-color: #5e42b0;
    border-radius: 5px;
}


.paragraph_two h3::before, .paragraph_five h3::before {
    content: "02";
}


.paragraph_free h3::before, .paragraph_six h3::before {
    content: "03";
}


.paragraph_six h3::before {
    color: #5e42b0;
}


.paragraph_free h3::after, .paragraph_six h3::after {
    background-color: #ffffff;
}


.advantage {
    position: relative;
    color: #000000;
}

span {
    color: #ffffff;
}


.footballer, .backetballer {
    position: absolute;
}


.pluses img {
    min-width: 100%;
    min-height: 100%;
}

.box_card {
    background-color: #5e42b0;
    color: #ffffff;
    display: flex;
    position: absolute;
}


.box_number {
    margin: auto;
    position: relative;
}


.box_number::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #ffffff;
    opacity: 0.3;
    border-radius: 5px;
}


.block_icon {
    display: flex;
    position: relative;
    background: linear-gradient(180deg, #7756d7, #50379b);
    border: none;
    z-index: 3;
}


.icon_footer {
    fill: #ffffff;
    margin: auto;
}


.text {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    z-index: 2;
}


.text_footer {
    color: #ffffff;
}


h4 {
    color: #a496ca;
}








@media (min-width: 961px) and (max-width: 1920px) {

    .logo {
        width: 191px;
        height: auto;
        margin-top: 58px;
    }


    .headline_bottom {
        padding-left: 451px;
    }


    h1 {
        font-size: 90px;
        line-height: 1;
        margin: 296px 190px 223px 190px;
    }


    .app_store, .google_play {
        margin-bottom: 110px;
    }


    .google_play {
        margin-left: 50px;
    }


    .app_icon {
        width: 40px;
        height: 50px;
        margin: 0 26px 0 38px;
    }


    .google_icon {
        width: 41px;
        height: 48px;
        margin: 0 29px 0 57px;
    }


    .wrapper_one, .wrapper_two {
        max-width: 37%;
        min-height: auto;
        padding: 60px 0 32px 0;
    }


    .wrapper_one, .athlets {
        margin-left: auto;
        margin-right: 190px;
    }


    .wrapper_two, .players {
        margin-left: 190px;
        margin-right: auto;
    }


    .athlets, .players {
        max-width: 37%;
        min-height: auto;
        padding: 114px 0 50px 0;
    }


    h2 {
        font-size: 80px;
        line-height: 1;
    }


    h3 {
        font-size: 36px;
        line-height: 1;
        margin: 0 0 0 33px;
    }


    h3::before {
        top: 2px;
        right: 30px;
        font-size: 18px;
        line-height: 1;
    }


    h3::after {
        bottom: 5px;
        left: -30px;
        width: 20px;
        height: 5px;
    }


    .advantage {
        font-size: 20px;
        line-height: 1.4;
    }


    .footballer {
        right: 0;
        margin: 30px 961px 0 0;
    }


    .backetballer {
        left: 0;
        margin: 30px 0 0 808px;
    }

    .pluses {
        position: relative;
        width: 100%;
        height: auto;
        font-size: 0;
    }


    .wrapper_be_active, .wrapper_contact, .wrapper_work {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        margin: 0 auto;
        overflow: hidden;
        color: #000000;
    }

    .photo_active, .photo_contact, .photo_work {
        width: 50%;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
    }

    .be_active, .find_contact, .work_it {
        width: 50%;
        height: auto;
        box-sizing: border-box;
    }



    .be_active h2, .work_it h2, .find_contact h2 {
        font-size: 80px;
        line-height: 0.75;
    }

    .be_active h2, .work_it h2 {
        padding: 176px 0 80px 130px;
    }


    .find_contact h2 {
        padding: 176px 130px 80px 192px;
    }


    .be_active p, .work_it p, .find_contact p {
        font-size: 24px;
        line-height: 1.2;
        width: 60%;
    }


    .be_active p, .work_it p {
        padding-left: 130px;
    }


    .find_contact p {
        padding-left: 192px;
    }


    .box_card {
        width: 168px;
        height: 156px;
        font: 700 24px/1.2 opensans, sans-serif;
        top: 28%;
        left: 50%;
        margin: -78px 0 0 -84px;
    }

    .box_number::after {
        bottom: -9px;
    }


    .headline_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 229px;
        padding-bottom: 150px;
    }


    .block_icon {
        width: 130px;
        height: 136px;
        border-radius: 30px;
    }


    .icon_footer {
        width: 104px;
        height: 87px;
    }


    .text {
        margin-left: 38px;
    }


    .text_footer {
        font-size: 80px;
        line-height: 0.7;
    }


    h4 {
        font-size: 36px;
        line-height: 1;
        margin: 23px 0 0 0;
    }


    footer .logo {
        margin-bottom: 50px;
        margin-top: 151px;
    }
}






@media (min-width: 641px) and (max-width: 960px) {

    .logo {
        width: 206px;
        height: auto;
        margin-top: 38px;
    }


    .headline_bottom {
        padding-left: 108px;
    }


    h1 {
        font-size: 64px;
        line-height: 1;
        margin: 180px 90px 311px 90px;
    }


    .app_store, .google_play {
        margin-bottom: 90px;
    }


    .google_play {
        margin-left: 30px;
    }


    .app_icon {
        width: 36px;
        height: 43px;
        margin: 0 27px 0 41px;
    }


    .google_icon {
        width: 41px;
        height: 45px;
        margin: 0 28px 0 57px;
    }


    .wrapper_one, .wrapper_two {
        max-width: 55%;
        min-height: auto;
        padding: 60px 0 32px 0;
    }


    .wrapper_one, .athlets {
        margin-left: 290px;
        margin-right: auto;
    }


    .wrapper_two, .players {
        margin-left: 35px;
        margin-right: auto;
    }


    .athlets, .players {
        max-width: 55%;
        min-height: auto;
        padding: 90px 0 60px 0;
    }


    h2 {
        font-size: 80px;
        line-height: 0.7;
    }


    h3 {
        font-size: 32px;
        line-height: 1;
        margin: 0 0 0 32px;
    }


    h3::before {
        top: 0;
        right: 30px;
        font-size: 18px;
        line-height: 1;
    }


    h3::after {
        bottom: 5px;
        left: -30px;
        width: 20px;
        height: 5px;
    }


    .advantage {
        font-size: 16px;
        line-height: 1.7;
    }


    .footballer {
        right: 0;
        margin: 93px 496px 0 0;
    }


    .backetballer {
        left: 0;
        margin: 30px 0 0 808px;
    }


    .wrapper_be_active, .wrapper_contact, .wrapper_work {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        margin: 0 auto;
        overflow: hidden;
        color: #000000;
    }

    .photo_contact {
        order: 1;
    }

    .find_contact {
        order: 2;
    }

    .photo_work {
        order: 3;
    }

    .work_it {
        order: 4;
    }


    .be_active h2, .work_it h2, .find_contact h2 {
        font-size: 80px;
        line-height: 0.75;
        padding: 91px 0 40px 33px;
    }

    .be_active p, .work_it p, .find_contact p {
        font-size: 24px;
        line-height: 1.2;
        width: 87%;
        padding-left: 33px;
        padding-bottom: 107px;
    }



    .box_card {
        width: 116px;
        height: 116px;
        font: 700 24px/1.2 opensans, sans-serif;
        top: 57%;
        left: 0;
        margin: 0 0 0 33px;
    }

    .box_number::after {
        bottom: -9px;
    }


    .headline_footer {
        padding-top: 125px;
    }


    .block_icon {
        position: relative;
        left: 50%;
        margin-left: -65px;
        margin-bottom: 82px;
        width: 130px;
        height: 136px;
        border-radius: 30px;
    }


    .icon_footer {
        width: 104px;
        height: 87px;
    }


    .text {
        position: relative;
        text-align: center;
    }


    .text_footer {
        font-size: 80px;
        line-height: 0.7;
    }


    h4 {
        font-size: 30px;
        line-height: 1;
        margin: 23px 0 288px 0;
    }


    footer .logo {
        margin-bottom: 50px;
        margin-top: 37px;
    }
}
